.header {
  background: #f6f5f4;
}

.container {
  min-height: 20px;
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-tiga {
  background-color: #f6f5f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainmenu {
  display: flex;
  margin-left: 50px;
  color: black;
}

.mainmenu li {
  list-style: none;
}

.mainmenu li a {
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.left {
  display: flex;
}

.right {
  display: flex;
  align-items: center;
  color: black;
}

.username {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.username img {
  margin-right: 7px;
}

.signout {
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* SECTION HERO IMAGES */

.section-hero-image {
  background: #f6f5f4;
  width: 100%;
  min-height: 654px;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -ms-align-items: center;
}

.left-section-text {
  width: 100%;
  height: auto;
}

.left-hero-image {
  width: 46%;
  height: auto;
}

.left-hero-image h5 {
  color: #2b788b;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.35px;
  margin-bottom: 24px;
}

.left-hero-image h1 {
  color: #000000;
  font-size: 3rem;
  line-height: 3.375rem;
  font-family: "Dela Gothic One", sans-serif;
  margin-bottom: 24px;
}

.left-hero-image p {
  display: block;
  margin: 36px 0px;
  color: #757575;
}

.btn-primary {
  background: #c3dce3;
  padding: 10px 16px;
  color: #2b788b;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 29px;
  clear: both;
}

.left-section-infograph {
  width: 100%;
  display: flex;
  align-items: center;
  -ms-align-items: center;
}

.infograph-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -ms-align-items: center;
  margin: 36px 0px 46px 0px;
  justify-content: center;
}

.infograph-column:first-child {
  border-right: 1px solid #ededed;
  margin-left: -48px;
}

.infograph-icon-text {
  width: auto;
  display: flex;
  align-items: center;
  -ms-align-items: center;
}

.infograph-icon-text h2 {
  color: #000000;
  font-size: 2.813rem;
  line-height: 3.25rem;
  font-family: "Dela Gothic One", sans-serif;
  margin-left: 6px;
}

.infograph-icon-text h2 span {
  color: #2b788b;
  font-size: 3.2rem;
  line-height: 3.25rem;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 800;
  margin-left: 6px;
}

.infograph-icon-text img {
  margin-top: 10px;
}

.infograph-column p {
  margin: 0px;
  width: 100%;
  display: unset;
  text-align: center;
}

.right-hero-image {
  width: 54%;
  height: auto;
  display: flex;
  justify-content: center;
  -ms-justify-content: center;
}

.right-hero-image img {
  margin-right: -24px;
}

/* SECTION HERO IMAGES */
/* SECTION DUA START*/
.sectiondua {
  background: #fff;
  min-height: 496px;
  display: flex;
}

.left-second-section {
  /* width: 54%; */
  height: auto;
  display: flex;
  justify-content: center;
  -ms-justify-content: center;
}

.right-second-section {
  width: 46%;
  height: auto;
  color: #757575;
}

.right-second-section h2 {
  color: #000000;
  font-size: 2.813rem;
  line-height: 3.25rem;
  font-family: "Dela Gothic One", sans-serif;
}

.right-second-section p {
  display: block;
  margin: 32px 0px;
}

.wording-second-section {
  width: 100%;
}

.interactive-second-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.wrp-icon-shoes {
  background: #f2d4dc;
  height: 144px;
  width: 114px;
  border-radius: 14.5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-justify-content: center;
  position: relative;
}

.wrp-icon-shoes::after {
  content: " ";
  background: #fff;
  height: 144px;
  width: 114px;
  border-radius: 14.5px;
  z-index: 2;
  position: absolute;
  left: 0px;
  top: -10px;
}

.wrp-icon-shoes::before {
  content: " ";
  background: #f2d4dc;
  height: 144px;
  width: 114px;
  border-radius: 14.5px;
  z-index: 3;
  position: absolute;
  left: 0px;
  top: 24px;
}

.wrp-icon-shoes h6 {
  font-size: 0.813rem;
  line-height: 1.285rem;
  color: #945069;
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.wrp-icon-shoes h6 svg {
  width: 10px;
  margin-left: 5px;
  margin-top: 1px;
}

.wrp-icon-shoes img {
  z-index: 3;
  position: relative;
}

.wrp-icon-speaker {
  background: #c3dce3;
  height: 143px;
  width: 164px;
  border-radius: 14.5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-justify-content: center;
  position: relative;
  margin-left: 20px;
}

.wrp-icon-speaker::after {
  content: " ";
  background: #fff;
  height: 144px;
  width: 164px;
  border-radius: 14.5px;
  z-index: 2;
  position: absolute;
  left: 0px;
  top: -10px;
}

.wrp-icon-speaker::before {
  content: " ";
  background: #c3dce3;
  height: 144px;
  width: 164px;
  border-radius: 14.5px;
  z-index: 3;
  position: absolute;
  left: 0px;
  top: 24px;
}

.wrp-icon-speaker h6 {
  font-size: 0.813rem;
  line-height: 1.285rem;
  color: #2b788b;
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.wrp-icon-speaker h6 svg {
  width: 10px;
  margin-left: 5px;
  margin-top: 1px;
}

.wrp-icon-speaker img {
  z-index: 3;
  position: relative;
}

/* SECTION DUA END*/

.footer {
  background: #f6f5f4;
  min-height: 50px;
  color: black;
}

.footmenu {
  display: flex;
}

.footmenu li {
  list-style: none;
}

.footmenu li a {
  padding: 3px 10px;
  display: block;
}

.footmenu li:first-child a {
  padding-left: 0;
}

.footer .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  border-top: #e0e0e0 solid 2px;
  padding-top: 30px;
}

.footer .container {
  display: block;
}

.footer .bottom a {
  margin-right: 10px;
}

.copyright {
  font-size: 12px;
}

.sectionempat {
  background-color: #f6f5f4;
}
